body{
                        font-family: 'Poppins', sans-serif;
                        margin: 0px;


}
h1{
       color: tomato ;
       font-size: 50px;

}
h2{  font-size: 45px;



}
  .mama {
         width:50%;
           
         
                        
}
.mama1{ width:50% ;
          padding-left: 5%;

}
.mama img{
       width: 50%;

}

  .sifat{ display: flex; 
         padding-left: 10%;
       
              

       
                          
}
.shado{

       box-shadow: 10px 10px 10px 10px orangered;
       text-align: center;
       

}
.top-banner {

       background-image: url(images/exp-bg.png);
       background-repeat: no-repeat;
       background-size:2% ;
}
.bakbakum{
       min-width: max-content;
       padding-left: 5%;
       margin-left: 10px;
       margin-right: 10px;


}
.section{  
                      
                        width: 400px;
                        height: 200px;
                        padding: 15px;
                        background-color: coral;
                        box-shadow: 10px 10px;  text-align: center;
                        border: 7px solid  yellow;
                        border-bottom: 5px;
                        border-left: 5px;
                      }
                      .kabamission{
                            font-size: 40px; 
                            width: 50px;
                            height:100 ;
                            padding-left: 10%;
                      } 
                        
  
  
  

       